.panel {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    button {
        height: 40px;
        padding: 0;
    }
}
.panel__prevnext {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 300px;
    color: white;
}
