$content-height: 400px;

.release {
    border-radius: 20px;
    box-shadow: 3px 3px 4px hsl(0, 0%, 76%), -3px -2px 4px hsl(0, 0%, 95%);
    background-color: var(--white);
    height: $content-height;
    width: 320px;
    position: relative;
}
.release__img {
    height: 170px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    img {
        border-radius: 50%;
        margin-top: 1rem;
    }
}
.body {
    padding: 0 1rem;
    display: flex;
    height: calc(#{$content-height} - 45%);
    flex-direction: column;
}
.body__header {
    text-align: center;
    h2 {
        margin: 0;
    }
}
.body__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.info {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
    p {
        color: #6c6c6c;
        margin: 0.25rem 0;
    }
}
.format {
    display: flex;
    p {
        font-size: 0.7rem;
        margin: 0 0.5rem 0 0;
        padding: 0.5rem;
        border-radius: 10px;
        box-shadow: inset 3px 3px 4px hsl(0, 0%, 76%), 4px 4px 4px hsl(0, 0%, 95%);
        min-width: 50px;
        text-align: center;
    }
}