@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}
.details {
    position: relative;
    padding: 0.5rem 2rem;
    text-align: center;
    overflow: auto;
    color: white;
    h3 {
        font-size: 1.2rem;
        padding: 0.2rem;
        margin: 0.8rem 0;
        border-radius: 20px;
        box-shadow: 3px 3px 4px var(--purple200), -3px -2px 4px var(--purple400);
    }
    p {
        margin: 0;
        font-size: 0.8rem;
    }
}
.details__basics {
    * {
        @include flex-space-between();
    }
}
.details__tracks {
    overflow: auto;
    height: 150px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    * {
        @include flex-space-between();
    }
}
.details__btn {
    position: absolute;
    right: 1rem;
    padding: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    min-width: 0;
}
