.btn {
    border: none;
    background: none;
    padding: 0.9rem;
    box-shadow: 3px 3px 4px var(--purple200), -3px -2px 4px var(--purple400);
    border-radius: 20px;
    color: white;
    min-width: 60px;
    font-family: 'Mulish';
    &:hover {
        cursor: pointer;
    }
    &:active {
        box-shadow: inset 3px 3px 4px var(--purple200), 4px 4px 4px var(--purple100);
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
