.nav {
    max-width: 1000px;
    text-align: center;
    margin: 2rem auto;
}
.nav__h1 {
    font-size: 3.5rem;
    font-weight: 100;
    font-family: cursive;
    margin: 0 auto;
    border-bottom: 1px solid;
    padding: 0 2rem 0.5rem;
    width: fit-content;
}
.nav__summary {
    color: var(--secondary);
    margin: 1rem;
    font-family: cursive;
    font-size: 0.9rem;
}
.nav__search {
    box-shadow: inset 3px 3px 4px hsl(0, 0%, 76%), 4px 4px 4px hsl(0, 0%, 95%);
    border-radius: 20px;
    border: none;
    width: 70%;
    padding: 0.8rem;
    margin-right: 1rem;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}
.nav__feedback {
    color: tomato;
    margin: 1rem;
    display: block;
}
.nav__form {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 640px) {
    main {
        max-width: none;
    }
}