@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;500;700;900&display=swap');

:root {
  --purple200: hsl(263, 78%, 25%);
  --purple100: hsl(263, 70%, 59%);
  --cyan: hsl(179, 80%, 37%);
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, var(--purple100), var(--purple100), var(--purple100));
  }
}
* {
  box-sizing: border-box;
}
/* Customize placeholder */
::placeholder {
  color: white;
  opacity: 0.6;
}
