.figure {
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    box-shadow: inset 3px 3px 4px var(--purple200), 4px 4px 4px var(--purple400);
}
.figure__img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding: 0.4rem;
}